<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="w-50">
      <form [formGroup]="this.Form" class="form-horizontal" (ngSubmit)="OnSubmit()" role="form">
          <div class="form-row">
              <div class="form-group col-sm-12">
                <h5 style="display:inline">
                  <span class="badge badge-info col-sm-12 text-left">Order ID

                    <span style="color:crimson">*</span>
                  </span>
                </h5>
                <input formControlName="OrderID" class="form-control" type="text" />
              </div>
            </div>
        <div formArrayName="Items" *ngFor="let item of this.Form.controls['Items'].value;trackBy: TrackByFn; let i = index;">

          <div class="card" [formGroupName]="i">
            <div class="card-header font-weight-bold text-white bg-info">
                {{'Item['+i+']'}}
            </div>
            <div class="card-body">

              <div class="form-row">
                <div class="form-group col-sm-12">
                  <h5 style="display:inline">
                    <span class="badge badge-info col-sm-12 text-left">Item Name

                      <span style="color:crimson">*</span>
                    </span>
                  </h5>
                  <input formControlName="ItemName" class="form-control" type="text" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-sm-12">
                  <h5 style="display:inline">
                    <span class="badge badge-info col-sm-12 text-left">Price
                      <span style="color:crimson">*</span>
                    </span>
                  </h5>
                  <input formControlName="Price" class="form-control" type="number" />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-sm-12">
                  <h5 style="display:inline">
                    <span class="badge badge-info col-sm-12 text-left">Quantity
                      <span style="color:crimson">*</span>
                    </span>
                  </h5>
                  <input formControlName="Quantity" class="form-control" type="number" />
                </div>
              </div>
            </div>

          </div>
        </div>
        <button type="button" class="btn btn-secondary col-sm-6" (click)="this.AddItem()">Add</button>
        <button type="submit" class="btn btn-primary col-sm-6">Submit</button>
      </form>
    </div>
  </div>
  <br/>
  <div *ngIf="this.FormContent!=null" class="row justify-content-center">
    <div class="alert alert-warning" role="alert">
      {{this.FormContent}}
    </div>
  </div>
</div>
